
@import "./variables.scss";

.banner-basic-home-slider{
  .banner-slider{
    position: relative;
    .banner-img{
      min-height: 843px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .banner-centered-text {
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, -25%);
      z-index: 1;
      padding: 25px 50px;
      width: 60%;
      background: rgba(0, 0, 0, 0.45);
      text-align: center;
      h1{
        font-size: 60px;
        color: #FFFFFF;
        margin: 0;
      }
      @media(max-width: 992px){
        bottom: 25%;
        width: 70%;
      }
      @media(max-width: 768px){
        h1{
          font-size: 42px;
        }
        bottom: 20%;
        width: 80%;
      }
      @media(max-width: 425px){
        h1{
          font-size: 36px;
        }
        bottom: 15%;
        padding: 15px 25px;
        width: 90%;
      }
    }
  }
  .ant-carousel {
    .slick-dots {
      bottom: 20px;
      height: 12px;
      li button {
        width: 12px;
        height: 12px;
        background: #fff;
        opacity: 1;
        border-radius: 50%;
        margin: 0 3px;
      }
      li.slick-active button {
        width: 12px;
        // background: $primary-color;
        background-color: $primary-color;
      }
    }
  }
}
