.vacation-card{
  // border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 24px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 20px;
  .vacation-img{
    img{
      width: 100%;
    }

  }
  .vacation-content{
    // padding: 10px;
    padding-left: 30px;
    padding-top: 0;
    padding-right: 10px;

    .vacation-divider{
      margin-top: 32px;
      width: 230px;
      height: 2px;
      background-color: #e4e4e4;
      background-image: linear-gradient(to right, #ffffff 0%, #b8b8b8 100%);
    }
    h4{
      font-family: $primary-color;
      color: #000000;
      font-size: 21px;
      font-weight: 700;
      line-height: 30.25px;
      margin: 0;
    }
    h6{
      color: #888888;
      font-size: 13px;
      margin-top: 10px;
    }
  }
  .vacation-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    .black{
      color: #000;
    }
    .vacation-btn{
      border-radius: 0;
      box-shadow: none;
      background-color: $primary-color;
      color: $accent-white !important;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      line-height: 16.12px;
      font-weight: 400;
    }
  }
}