@import "./variables.scss";

.navigation-menu {
  .cart-btn {
    border: 2px solid #000;
    border-radius: 0;
    color: #000000;
    letter-spacing: 2.08px;
    font-weight: 400;
    height: 35px;
    padding-left: 18px;
    padding-right: 18px;
    // padding-top: 3px;
  }
  .ant-menu-inline {
    border: 0;
  }
  .ant-menu {
    font-size: 13px;
    color: #000000;
    font-weight: 500;
    background: inherit;
    border-bottom: 0;
    letter-spacing: 2.08px;
    .padding-left-reduce {
      padding-left: 0 !important;
    }
    .ant-menu-item,
    .ant-menu-submenu {
      padding-left: 10px;
      padding-right: 10px;
      top: 0;
      margin-top: 0;
      border-bottom: 0;
      &:hover {
        // .ant-menu-submenu-selected{
        border-bottom: 0;
        // }
        a,
        .ant-menu-submenu-title {
          color: $primary-color;
          padding: 0;
        }
      }
      .ant-menu-submenu-title {
        padding: 0;
      }
      a {
        color: #000;
      }
    }
    .ant-menu-item-selected,
    .ant-menu-submenu-selected {
      a,
      .ant-menu-submenu-title {
        color: $primary-color !important;
      }
    }
    > .ant-menu-item > a {
      display: flex;
      align-items: center;
      height: 48px;
    }
    .ant-menu-submenu-title {
      line-height: 48px;
    }
  }

  .ant-menu-sub {
    .ant-menu-item {
      // height: auto;
      // background-color: @primary-color;
      // margin: 0 !important;
      // border-bottom: 0;
      // border: 1px solid @primary-color;
      // border-right: 1px solid @primary-color !important;
      &:hover {
        a,
        .ant-menu-submenu-title {
          color: #ffffff;
        }
        background-color: $accent-1;
        // border: 3px solid @primary-color;
      }
    }
  }
}
