@import "./variables.scss";

.tour-card-1{
  border: 1px solid #cdcdcd;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 10px;
  .tour-card-1-img{
    padding: 22px;
    padding-bottom: 0;
    position: relative;
    .position-left{
      position: absolute;
      left: -2px;
      top: 40px;
    }
    .dual-position-left{
      position: absolute;
      left: -32px;
      top: 40px;
    }
    .position-bottom{
      position: absolute;
      bottom: 10px;
      left: 40px;
    }
    .position-right{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .tour-card-1-content{
    height: 200px;
    text-align: left;
    padding: 22px;
    span{
      padding-left: 10px;
      color: $accent-4;
    }
    img{
      padding-right: 5px;
    }
    h4{
      margin-top: 10px;
      color: #000;
      font-weight: 700;
    }
    p{
      margin-top: 20px;
      padding-left: 10px;
      font-size: 16px;
      color: #4d4d4d;
    }
  }
  .tour-card-1-divider{
    border-top: 1px solid #cdcdcd;
    margin-top: 0;
    margin-right: 22px;
    margin-left: 22px;
  }
  .tour-card-1-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 22px;
    padding-right: 22px;
    .tour-card-1-price{
      font-size: 17px;
    }
    span{
      padding-left: 10px;
      color: $accent-4;
      font-weight: 700;
      font-size: 24px;
    }
    svg{
      color: $accent-white;
    }
    img{
      padding-left: 5px;
    }
    :hover{
      img{
        -webkit-animation: bounceLeft 2s infinite;
        animation: bounceLeft 2s infinite;
      }
    }
  }
  .tour-card-1-btn{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: $accent-4;
    color: #fff;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
  }
}
.fixed-aspect-ratio {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: all .8s ease-out;
}
.fixed-aspect-ratio-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $accent-4;
}
@media(max-width: 575px){
   .tour-card-1 .tour-card-1-footer span{
    font-size: 18px !important;
  }
}